

.page {
  overflow-x: hidden;
  background-color: white;
}

.search {
  display: flex;
  justify-content: center;
  text-align: center;
}

.position {
  position: relative;
  margin-bottom: 0.75rem;
}

.pagination {
  display: flex;
  text-align: center;
  position: absolute;
  justify-content: center;
  margin-left: 512px;
  margin-top: -100px;
  margin-bottom: 5rem;
}

.ulclass {
  display: flex;
  align-items: center;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style: none;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.ulclass > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-1px * var(--tw-space-x-reverse));
  margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
}

.left-\[\#1F3E72\] {
  --tw-text-opacity: 1;
  color: rgb(31 62 114 / var(--tw-text-opacity));
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.nonactive {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  height: 2.5rem;
  line-height: 1.25;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #9ca3af;
  --tw-shadow: var(--tw-shadow-colored);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.nonactive:hover {
  background-color: #ffa500;
}

.active {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  height: 2.5rem;
  background-color: #ffa500;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #9ca3af;
  --tw-shadow: var(--tw-shadow-colored);
  line-height: 1.25;
}

.previous {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.right {
  text-decoration: #1f3e72;
  font-size: 1.26rem;
  line-height: 1.75rem;
}

* {
  font-family: 'Poppins', sans-serif;
}
