  /**
   * typography
   */
   :root{

   --fs-1: 1.875rem;
   --fs-2: 1.5rem;
   --fs-3: 1.375rem;
   --fs-4: 1.125rem;
   --fs-5: 0.875rem;
   --fs-6: 0.813rem;
   --fs-7: 0.75rem;
 
   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;
   }

/* servicepage */
  .s-container {
    gap: 2rem;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .s-container > div {
    flex: 1;
  }
  .service-card {
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: 0 25px 0 25px;
    transition: all 300ms ease-in;
    position: relative;
    text-align: center;
    padding: 40px 30px;
    box-shadow: var(--shadow);
    border: 1px solid rgba(128, 128, 128, 0.143);
  }


  .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  
  
  .service-card .card-icon {
    width: max-content;
    margin-inline: auto;
    margin-bottom: 20px;
  }
  
  .service-card .card-title { margin-bottom: 15px; }
  
  
  .card-icon {
    width: 10px;
    height: auto;
    margin: 0 auto 20px;
    display: block;
  } 
  
  .service-card:hover {
    transform: scale(1.05);
  }

  .service-card .card-text {
    color: var(--primary);
    font-size: var(--fs-5);
    line-height: 1.8;
    margin-bottom: 25px;
  }
  
  .card-link {
    color: var(--primary);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

  }

  .card-link {
    margin-top: 10px;
  }

  .service-card:is(:hover, :focus) .card-link {
    scale: 1.1;
  }
  
  .card-link .button:hover {
    /* background: var(--blue-gradient); */
    color: white;
    scale: 0.8;
  }

  .card-title {
    color: var(--primary)
  }

  .card-link {
    color: var(--primary);
    font-weight: lighter;
    margin-top: 15px;
  }
  
  
  .service-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 10px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    background: var(--blue-gradient);
    transition: var(--transition);
  }
  
  .service-card:is(:hover, :focus)::after { width: 100%; }
  
  

  
/* media quireies */
  /**
   * responsive for larger than 600px screen
   */
  
  @media (min-width: 600px) {
  
    .service-list > li { width: calc(50% - 15px); } }
  
  
  

  
  @media (min-width: 992px) {


    .service-list > li { width: calc(33.33% - 20px); }
  }



  