 /* Style for the form container */
.for-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
  padding: 55px;

}


.form {
  margin-top: 30px;
  margin-bottom: 25%;
}

/* Style for the form labels */
.for-sale label {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

/* Style for the form inputs */
.for-sale input,
.for-sale select {
  padding: .5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the submit button */
.for-sale button[type="submit"] {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  text-align: center;
}

.for-sale button[type="submit"]:hover {
  background-color: #0056b3;
}

.textarea-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.textarea-input {
  width: 100%;
  height: 150px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}



   

  