.r1 {
  width: 600px;
  border-radius: -30px;
  margin: 10px;
}

.flex {
  display: flex;
  margin-top: 20px;
  background-color: white;
}

.hardin {
  margin-top: 30px;
  margin: 2px;
}

.nameHardin {
  font-size: 40px;
  margin-top: 15px;
  color: #1f3e72;
  font-weight: 900;
  font-size: xx-large;
}

.priceHardin {
  color: #8c8b8b;
  font-weight: 600;
  font-size: x-large;
}

.addressHardin {
  color: #716f6f;
  font-weight: 400;
  font-size: x-large;
}

.describeHardin {
  color: #716f6f;
  font-weight: 400;
  font-size: large;
}

.detailsH {
  color: #1f3e72;
  font-weight: 900;
  font-size: x-large;
}

.detailsh {
  display: inline-flex;
  color: #ffa500;
  font-weight: 900;
  font-size: medium;
  margin: 10px;
}

.detailsp {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 450px;
  color: #716f6f;
}

.detailsr {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 600px;
  color: #716f6f;
}

.detailsb {
  display: inline-flex;
  justify-content: space-evenly;
  margin-left: 565px;
  color: #716f6f;
}

hr.residences-separator {
  height: 2px;
  width: 740px;
  background-color: #716f6f;
}

.container {
  margin-top: -50px;
}

.detailContainer {
  display: inline-flex;
  color: #716f6f;
}

.detalye {
  border: #1f3e72;
  border-right: none;
  border-style: solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
  width: 400px;
  text-align: center;
}

.serbisyo {
  border: #1f3e72;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: solid;
  padding: 40px;
  width: 450px;
  text-align: center;
}

.serbisyo3 {
  display: flex;
  color: #ffa500;
}

.serbisyo4 {
  display: flex;
  margin-left: 20px;
  color: #ffa500;
}

.detalye1 {
  color: #1f3e72;
  font-weight: 900;
  font-size: x-large;
}

.serbisyo1 {
  color: #1f3e72;
  font-weight: 900;
  font-size: x-large;
}

.detalye2 {
  color: #ffa500;
  font-weight: 900;
  font-size: large;
}

.serbisyo2 {
  color: #ffa500;
  margin-left: 70px;
  font-weight: 900;
  font-size: large;
}

.agent {
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1f3e72;
  border: none;
  color: white;
  cursor: pointer;
}

.serviceBtn {
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 45px;
  margin-top: 25px;
  background-color: #1f3e72;
  border: none;
  color: white;
  cursor: pointer;
}

.middle {
  width: 1325px;
  margin: 21px;
}
